/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

#user-notifications {
	width: 200px;
}

.new-subscription,
.new-donation {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	padding: 10px;
	margin-bottom: 5px;

	-webkit-transition: all 1.0s linear;
	transition: all 1.0s linear;
}

.new-donation {
	background-color: yellow;
}

.new-subscription {
	background-color: #666;
	color: white;
}

.poll {
	float: left;
	margin-right: 400px;
	margin-left: 100px;
}

.scrolling-message {
	position: absolute;
	z-index: 1000;
	font-family: Montserrat, "sans-serif";
	font-weight: bold;
	font-size: 2em;
	color: white;
	white-space: nowrap;
}

body {
	background-color: rgba(150, 150, 150, 150);
}
